#colorResults {
    list-style: none;
    padding: 0;
}

#colorResults li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.color-box {
    width: 30px; /* Adjust the width as needed */
    height: 30px; /* Adjust the height as needed */
    margin-right: 10px;
}

span {
    margin-right: 10px;
}
